.l_footer {
	left: 0px;
	width: 100%;
	bottom: 0px;
	height: 120px;
	background: #000;
	text-align: center;
	position: absolute;
	padding: 48px $20 0px;

	@media print {
		display: none;
	}
	@mixin screen_to, 1280px {
		height: 225px;
		padding: 50px 20px 0px;
	}

	/*[scheme][:]*/
	&_wrap {
		margin: 0px auto;
		overflow: hidden;
		max-width: 1920px;
	}
	/*[scheme][;]*/
	
	/*[object][:]*/
	&_copyright {
		float: left;
		width: 310px;
		color: #757575;
		text-align: left;
		font: 13px/24px $font_fs;
		text-transform: uppercase;

		@mixin screen_to, 1280px {
			float: none;
			width: auto;
			text-align: center;
			margin-bottom: 5px;
		}
	}
	&_developer {
		float: right;
		width: 310px;
		color: #757575;
		text-align: right;
		font: 13px/24px $font_fs;

		@mixin screen_to, 1280px {
			float: none;
			width: auto;
			text-align: center;
		}

		a {
			color: #757575;
			background: none;
			border-bottom: solid 1px transparent;
			text-shadow: 1px 1px #000, 1px -1px #000,
						-1px 1px #000, -1px -1px #000;

			&:hover {
				border-color: #757575;
			}
		}
	}
	/*[object][;]*/

}


