.l_header {
	z-index: 500;
	font-size: 0px;
	line-height: 0px;
	user-select: none;
	padding: 0px $125;
	position: relative;

	@media print {
		padding: 0px;
		margin: 40px 0px 33px;
	}
	@mixin screen_to, 1280px {
		padding: 0px 20px;
	}
	@mixin screen_to, 980px {
		padding: 0px;
	}

	&:after {
		clear: both;
		content: '';
		display: block;
	}

	/*[scheme][:]*/
	&_wrap {
		height: 110px;
		margin: 0px auto;
		max-width: 1920px;
		position: relative;
		padding: 63px 0px 0px 150px;

		@media print {
			padding: 0px;
		}
		@mixin screen_to, 980px {
			height: 80px;
			padding: 0px;
		}

		&:after {
			clear: both;
			content: '';
			display: block;
		}
	}
	/*[scheme][;]*/
	
	/*[object][:]*/
	&_logo {
		top: 0px;
		left: 0px;
		z-index: 15;
		width: 110px;
		color: #fff;
		height: 110px;
		display: block;
		background: none;
		text-shadow: none;
		position: absolute;

		@media print {
			margin: 0px auto;
			position: relative;
		}
		@mixin screen_to, 980px {
			width: 80px;
			height: 80px;
			margin: 0px auto;
			position: relative;
		}

		img {
			width: 100%;
			pointer-events: none;
		}
	}
	/*[object][;]*/

	&._index {
		top: 0px;
		left: 0px;
		width: 100%;
		position: absolute;

		.menu_main_link {
			text-shadow: none;
		}
	}
	&._inner {
		background: #19191e;

		@media print {
			background: none;
		}
	}
}


