.l {
	&_body {
		min-height: 100%;
		overflow: hidden;
		position: relative;
		padding-bottom: 120px;

		@media print {
			padding: 0px;
			filter: grayscale(100%);
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			-ms-filter: grayscale(100%);
			-o-filter: grayscale(100%);
			filter: url(/assets/img/grayscale.svg#greyscale);
			filter: gray;
			-webkit-filter: grayscale(1);
		}
		@mixin screen_to, 1280px {
			padding-bottom: 225px;
		}
	}
	&_main {
		position: relative;
	}
	&_wrap {
		max-width: 800px;
		margin: 80px auto;

		@mixin screen_to, 980px {
			margin: 60px auto;
		}
		@mixin screen_to, 840px {
			padding: 0px 20px;
		}
		
		&:after {
			clear: both;
			content: '';
			display: block;
		}
	}
	&_cols {
		padding: 0px $125 60px;

		@media print {
			padding: 0px;
		}
		@mixin screen_to, 1280px {
			padding: 0px 20px 60px;
		}

		&_wrap {
			width: 100%;
			display: table;
			margin: 0px auto;
			max-width: 1920px;

			@media print {
				width: 610px;
				display: block;
			}
			@mixin screen_to, 980px {
				display: block;
			}
		}
		&_item {
			display: table-cell;
			vertical-align: top;

			@media print {
				display: block;
			}
			@mixin screen_to, 980px {
				display: block;
			}

			&._left {
				width: $420;
				padding-right: $95;

				@media print {
					width: 100%;
					padding: 14px 20px 20px;
					border: 2px solid #e0e0e0;
				}
				@mixin screen_to, 980px {
					width: 100%;
					padding: 0px;
				}
			}
			&._right {
				width: $610;

				@media print {
					width: 100%;
					margin-top: 37px;
				}
				@mixin screen_to, 980px {
					width: 100%;
					margin-top: 52px;
				}
			}
		}
	}
}


.step {
	position: relative;
	padding-left: 25px;

	&_num {
		top: 0px;
		left: 0px;
		height: 22px;
		position: absolute;
		vertical-align: top;
		display: inline-block;
		font-family: $font_fsb;
	}
}


