.overlay {
	top: 0px;
	left: 0px;
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 525;
	display: block;
	position: fixed;
	cursor: pointer;
	visibility: hidden;
	transform: translateZ(0);
	background: rgba(#000, .5);
	transition: opacity .4s ease-in-out-quad,
				visibility .4s ease-in-out-quad;
	background-size: 2px 2px;

	&._show {
		opacity: 1;
		visibility: visible;
	}
}


