.form_search {
	font-size: 0px;
	line-height: 0px;
	position: relative;

	/*[object][:]*/
	&_input {
		width: 100%;
		height: 50px;
		color: #fff;
		border: 2px solid $color_1;
		padding: 0px 46px 0px 20px;
	}
	&_submit {
		top: 2px;
		right: 2px;
		width: 46px;
		height: 46px;
		color: $color_1;
		position: absolute;

		&:after {
			width: 8px;
			height: 2px;
			border-radius: 2px;
			margin: 8px 0px 0px 5px;
			transform: rotate(45deg);
			background: currentColor;
		}
		&:after,
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			display: block;
			position: absolute;
			transition: all .2s ease-in-out;
		}
		&:before {
			width: 20px;
			height: 20px;
			border-radius: 50%;
			margin: -10px 0px 0px -10px;
			border: 2px solid currentColor;
		}

		&:hover {
			color: $color_2;
		}
	}
	/*[object][;]*/

}


