.form_options {
	display: none;
	font-size: 0px;
	line-height: 0px;
	user-select: none;

	&:before {
		content: '';
		height: 19px;
		display: block;

		@mixin screen_to, 980px {
			height: 39px;
		}
	}

	/*[scheme][:]*/
	&_table {
		align-content: stretch;
		lost-flex-container: row;

		@mixin screen_to, 980px {
			display: block;
		}
	}
	&_group {
		margin-top: $20;
		position: relative;
		padding: 20px 9px 15px;
		border: 1px solid #757575;
		lost-column: 1/3 3 $20 flex;
		transition: all .2s ease-in-out;

		@mixin screen_to, 980px {
			width: 100%;
			display: block;
			margin: 29px 0px 0px;
			padding: 14px 9px 15px;
		}

		&:hover {
			border-color: $color_1;
		}
		&:first-child {
			@mixin screen_to, 980px {
				margin-top: 0px;
			}
		}
	}
	&_tools {
		margin-top: 30px;
	}
	/*[scheme][;]*/

	/*[object][:]*/
	&_item {
		display: none;

		&:checked {
			& + ^^&_link {
				color: $color_1;
				border-color: #757575;
			}
		}
	}
	&_link {
		height: 28px;
		cursor: pointer;
		color: #757577;
		padding: 0px 15px;
		margin: 2px 1px 0px;
		vertical-align: top;
		display: inline-block;
		font: 16px/26px $font_fs;
		border: 1px solid transparent;
		transition: all .2s ease-in-out;

		&:hover {
			border-color: #757575;
		}
	}
	&_title {
		left: 50%;
		top: -12px;
		color: #fff;
		padding: 0px 10px;
		position: absolute;
		background: #36363b;
		font: 20px/20px $font_yk;
		transform: translateX(-50%);
	}
	&_reset {
		height: 50px;
		fill: $color_1;
		color: #9e9e9e;
		text-align: left;
		padding-left: 36px;
		margin-right: 20px;
		font: 18px/52px $font_fs;
		transition: all .2s ease-in-out;

		@mixin screen_to, 980px {
			height: 26px;
			line-height: 28px;
			margin: 0px 0px 20px;
		}

		.ico {
			top: 50%;
			left: 0px;
			width: 26px;
			height: 26px;
			display: block;
			margin-top: -13px;
			position: absolute;
		}
		&:hover {
			fill: $color_2;

			.ico {
				animation: spin .6s ease-in-out;
			}
		}
	}
	&_submit {
		@mixin screen_to, 980px {
			display: block;
			margin: 0px auto;
		}
	}
	/*[object][;]*/

	&._show {
		display: block;
	}
}


