.form_news {
	width: 100%;
	font-size: 0px;
	max-width: 440px;
	line-height: 0px;
	vertical-align: top;
	display: inline-block;

	@mixin screen_to, 768px {
		max-width: 536px;
	}

	/*[object][:]*/
	&_input {
		width: 272px;
		height: 50px;
		color: #fff;
		vertical-align: top;
		display: inline-block;
		border-top: solid 1px #757575;
		border-left: solid 1px #757575;
		border-bottom: solid 1px #757575;

		@mixin screen_to, 768px {
			width: 100%;
			display: block;
			padding: 0px 15px;
			border-bottom: none;
			border-right: solid 1px #757575;
		}
	}
	&_submit {
		width: 168px;

		@mixin screen_to, 768px {
			width: 100%;
			height: 36px;
			display: block;
		}
	}
	/*[object][;]*/
	
}


