.form_login {
	font-size: 0px;
	line-height: 0px;
	max-width: 440px;
	margin: 32px auto 0px;

	@mixin screen_to, 768px {
		margin-top: 15px;
	}

	/*[object][:]*/
	&_input {
		color: #fff;
		display: block;
		font-size: 18px;
		border-bottom: none;
	}
	&_submit {
		width: 100%;
	}
	/*[object][;]*/

}


