.form_mail {
	font-size: 0px;
	line-height: 0px;
	max-width: 440px;
	position: relative;
	padding-right: 165px;
	margin: 32px auto 0px;

	@mixin screen_to, 768px {
		padding: 0px;
	}

	form {
		position: static;
	}

	/*[object][:]*/
	&_input {
		color: #fff;
		display: block;
		font-size: 18px;
		border-right: none;

		@mixin screen_to, 768px {
			border-bottom: none;
			border-right: 1px solid #757575;
		}
	}
	&_submit {
		top: 0px;
		right: 0px;
		width: 165px;
		position: absolute;

		@mixin screen_to, 768px {
			width: 100%;
			display: block;
			position: relative;
		}
	}
	/*[object][;]*/

	&:first-child {
		margin-top: 0px;
	}
}


