.form_goods {
	font-size: 0px;
	line-height: 0px;
	margin: 0px auto;

	@mixin screen_to, 980px {
		padding-top: 24px;
	}

	/*[scheme][:]*/
	&_head {
		overflow: hidden;
		margin-bottom: 39px;

		@media print {
			margin-bottom: 22px;
		}
	}
	/*[scheme][;]*/

	/*[object][:]*/
	&_item {
		display: none;

		&:checked {
			& + ^^&_link {
				color: #757575;

				.ico {
					&:after,
					&:before {
						opacity: 1;
						transform: scale(1) rotate(45deg);
					}
				}
				.name {
					&:before {
						opacity: 1;
						width: 100%;
					}
				}
			}
		}
	}
	&_link {
		display: block;
		cursor: pointer;
		color: $color_1;
		margin-top: 10px;
		min-height: 26px;
		position: relative;
		padding-left: 44px;
		transition: all .2s ease-in-out;

		@media print {
			width: 50%;
			margin-top: 5px;
			min-height: 20px;
			vertical-align: top;
			display: inline-block;
			padding: 0px 10px 0px 30px;
		}

		.ico {
			top: 0px;
			left: 0px;
			width: 26px;
			height: 26px;
			display: block;
			position: absolute;
			background: #efefef;
			border: 13px solid #efefef;

			@media print {
				width: 20px;
				height: 20px;
				border-width: 10px;
			}

			&:after {
				width: 2px;
				height: 20px;
				margin: -10px 0px 0px -1px;
				border-left: solid 2px #757575;

				@media print {
					height: 16px;
					margin-top: -8px;
				}
			}
			&:after,
			&:before {
				top: 50%;
				left: 50%;
				opacity: 0;
				content: '';
				display: block;
				position: absolute;
				transition: all .2s ease-in-out;
				transform: scale(.4) rotate(45deg);
			}
			&:before {
				width: 20px;
				height: 2px;
				margin: -1px 0px 0px -10px;
				border-top: solid 2px #757575;

				@media print {
					width: 16px;
					margin-left: -8px;
				}
			}
		}
		.name {
			padding-top: 5px;
			position: relative;
			vertical-align: top;
			display: inline-block;
			font: 18px/18px $font_fs;

			@media print {
				padding-top: 4px;
				font: 14px/14px $font_fs;
			}

			&:before {
				top: 50%;
				width: 0%;
				opacity: 0;
				content: '';
				height: 1px;
				display: block;
				position: absolute;
				border-top: solid 1px #757575;
				transition: all .2s ease-in-out;
			}
		}
		&:hover {
			color: $color_2;
		}
	}
	&_title {
		vertical-align: top;
		display: inline-block;
		font: 36px/44px $font_ykb;
	}
	&_parts {
		height: 44px;
		color: #757575;
		margin-left: 20px;
		position: relative;
		vertical-align: top;
		display: inline-block;
		font: 18px/18px $font_fs;
		padding: 16px 0px 0px 26px;
		background: url(/assets/img/design/ico/cutlery_1.svg) 0% 50% no-repeat;
		background-size: 16px 27px;
	}
	&_label {
		width: 100%;
		color: #757575;
		margin-bottom: 5px;
		vertical-align: top;
		display: inline-block;
		font: 18px/20px $font_fs;
	}
	&_reset {
		height: 26px;
		fill: $color_1;
		display: block;
		color: #757575;
		margin-top: 20px;
		padding-left: 44px;
		font: 18px/28px $font_fs;
		transition: all .2s ease-in-out;

		@media print {
			display: none;
		}

		svg {
			top: 0px;
			left: 0px;
			width: 26px;
			height: 26px;
			display: block;
			position: absolute;
		}
		&:hover {
			fill: $color_2;

			svg {
				animation: spin .6s ease-in-out;
			}
		}
	}
	&_submit {
		display: block;
		margin-top: 20px;

		@media print {
			display: none;
		}
	}
	/*[object][;]*/

}


