.form_find {
	float: right;
	margin-top: -8px;
	position: relative;

	@media print {
		display: none;
	}
	@mixin screen_to, 980px {
		float: none;
		margin-top: 49px;
		vertical-align: top;
		display: inline-block;
	}
	
	/*[object][:]*/
	&_input {
		width: 168px;
		height: 40px;
		border: none;
		color: $color_1;
		font-size: 18px;
		background: none;
		padding: 0px 36px 0px 10px;
		border: 2px solid transparent;
		transition: all .2s ease-in-out;

		@mixin screen_to, 980px {
			font-size: 18px;
		}

		&:focus {
			width: 230px;
			color: #fff;
			border-color: $color_1;
		}
		&::placeholder {
			color: $color_1;
		}
	}
	&_submit {
		top: 2px;
		right: 2px;
		width: 36px;
		height: 36px;
		border: none;
		position: absolute;

		&:after {
			width: 8px;
			height: 2px;
			border-radius: 2px;
			background: $color_1;
			margin: 6px 0px 0px 5px;
			transform: rotate(45deg);
		}
		&:after,
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			display: block;
			position: absolute;
			transition: all .2s ease-in-out;
		}
		&:before {
			width: 20px;
			height: 20px;
			border-radius: 50%;
			border: 2px solid $color_1;
			margin: -13px 0px 0px -10px;
		}

		&:hover {
			&:after {
				background: $color_2;
			}
			&:before {
				border-color: $color_2;
			}
		}
	}
	/*[object][;]*/

}


