.hero_item {
	color: #fff;
	font-size: 0px;
	line-height: 0px;
	text-align: center;
	padding: 65px $125;
	margin-bottom: 57px;
	background: #36363b;

	@media print {
		width: 610px;
		padding: 0px;
		color: #000;
		display: block;
		background: none;
		margin: 0px auto 30px;
	}
	@mixin screen_to, 1280px {
		padding: 65px 20px;
	}
	@mixin screen_to, 980px {
		margin: 0px;
		padding: 0px;
	}

	/*[scheme][:]*/
	&_wrap {
		width: 100%;
		display: table;
		margin: 0px auto;
		max-width: 1920px;

		@mixin screen_to, 980px {
			display: block;
		}
	}
	&_cell {
		display: table-cell;
		vertical-align: middle;

		@media print {
			display: block;
		}
		@mixin screen_to, 980px {
			display: block;
		}

		&._left {
			width: $420;
			padding-right: $95;

			@media print {
				width: 100%;
				padding: 0px;
			}
			@mixin screen_to, 980px {
				width: 100%;
				padding: 38px 20px 40px;
			}
		}
		&._right {
			width: $610;

			@media print {
				display: none;
			}
			@mixin screen_to, 980px {
				width: 100%;
			}
		}
	}
	&_view {
		position: relative;
		padding-bottom: 56.25%;
	}
	/*[scheme][;]*/

	/*[object][:]*/
	&_img {
		width: 100%;
	}
	&_type {
		font: 18px/20px $font_fs;
	}
	&_name {
		margin: 17px 0px;
		font: 44px/52px $font_ykb;
	}
	&_prop {
		color: #9e9e9e;
		position: relative;
		vertical-align: top;
		display: inline-block;
		font: 16px/28px $font_fs;

		& + & {
			margin-left: 38px;

			&:before {
				top: 3px;
				width: 1px;
				right: 100%;
				content: '';
				height: 22px;
				display: block;
				position: absolute;
				background: #9e9e9e;
				margin: 0px 20px 0px 17px;
			}
		}
		&:empty {
			display: none;
		}
		&._time {
			padding-left: 30px;
			background: url(/assets/img/design/ico/time_1.svg) 0% 50% no-repeat;
			background-size: 22px 22px;
		}
	}
	&_mode {
		width: 8px;
		height: 8px;
		position: relative;
		border-radius: 50%;
		vertical-align: top;
		display: inline-block;
		margin: 10px 10px 10px 0px;
		border: 2px solid #9e9e9e;

		&:after {
			margin-top: 10px;
			border: 4px solid #9e9e9e;
		}
		&:after,
		&:before {
			top: 50%;
			left: 50%;
			width: 8px;
			height: 8px;
			content: '';
			display: block;
			position: absolute;
			border-radius: 50%;
			transform: translate(-50%, -50%);
		}
		&:before {
			margin-top: -10px;
			border: 2px solid #9e9e9e;
		}

		&._2 {
			border-width: 4px;
		}
		&._3 {
			border-width: 4px;

			&:before {
				border-width: 4px;
			}
		}
	}
	&_play {
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: 100;
		position: absolute;

		&:after {
			width: 0px;
			height: 0px;
			border-style: solid;
			margin: -8px 0px 0px -6px;
			border-width: 8px 0 8px 13px;
			transition: all .2s ease-in-out;
			border-color: transparent transparent transparent $color_1;
		}
		&:after,
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			z-index: 10;
			display: block;
			position: absolute;
			transition: all .2s ease-in-out;
		}
		&:before {
			width: 90px;
			height: 90px;
			border-radius: 50%;
			margin: -45px 0px 0px -45px;
			background: rgba(#fff, .8);
			box-shadow: 0px 0px 30px rgba(#2e2e36, .4);

			@mixin screen_to, 980px {
				width: 66px;
				height: 66px;
				margin: -33px 0px 0px -33px;
			}
		}

		&._hide {
			opacity: 0;
			visibility: hidden;
		}
		&:hover {
			&:before {
				background: #fff;
			}
		}
	}
	&_video {
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		position: absolute;
	}
	/*[object][;]*/

}


