.hero {
	width: 100%;
	height: 200px;
	display: table;
	font-size: 0px;
	line-height: 0px;
	text-align: center;
	background: #36363b url(/assets/img/design/clipart/hero/1.png) 0% 0% no-repeat;

	@mixin screen_to, 768px {
		min-height: 145px;
		background-image: none;
	}
	
	/*[scheme][:]*/
	&_wrap {
		padding: 0px 20px;
		display: table-cell;
		vertical-align: middle;
		background: url(/assets/img/design/clipart/hero/2.png) 100% 0% no-repeat;

		@mixin screen_to, 768px {
			background: none;
		}
	}
	/*[scheme][;]*/
	
	/*[object][:]*/
	&_title {
		margin: 0px;
		color: #fff;
		font: 36px/38px $font_ykb;
		
		@mixin screen_to, 768px {
			font: 26px/28px $font_ykb;
		}
	}
	&_subtitle {
		display: block;
		color: #9e9e9e;
		margin: 8px 0px 0px;
		font: 18px/20px $font_fs;
		
		@mixin screen_to, 768px {
			margin-top: 4px;
			font: 14px/16px $font_fs;
		}
	}
	/*[object][;]*/
	
}


