.hero_info {
	width: 100%;
	font-size: 0px;
	line-height: 0px;
	overflow: hidden;
	min-height: 530px;
	position: relative;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	max-height: calc(100vh - 110px);

	@mixin screen_to, 768px {
		height: 385px;
		min-height: 385px;
	}

	&:after {
		top: 50%;
		left: 50%;
		width: 264px;
		height: 264px;
		position: absolute;
		margin: -132px 0px 0px -132px;
		background: url(/assets/img/logo.svg) 50% 50% no-repeat;
		background-size: contain;

		@mixin screen_to, 768px {
			width: 192px;
			height: 192px;
			margin: -96px 0px 0px -96px;
		}
	}
	&:after,
	&:before {
		content: '';
		display: block;
		position: absolute;
	}
	&:before {
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background: url(/assets/img/design/pattern/1.png);
		background-size: 2px 2px;
	}
	
	/*[object][:]*/
	&_size {
		width: 100%;
		visibility: hidden;
	}
	/*[object][;]*/
	
}


