.menu_foot {
	font-size: 0px;
	line-height: 0px;
	vertical-align: top;
	display: inline-block;

	@media print {
		display: none;
	}
	@mixin screen_to, 1280px {
		margin-bottom: 23px;
	}

	/*[object][:]*/
	&_link {
		color: $color_1;
		background: none;
		vertical-align: top;
		display: inline-block;
		font: 17px/24px $font_fs;
		transform: translate3d(0, 0, 0);
		text-shadow: 1px 1px #000, 1px -1px #000,
					-1px 1px #000, -1px -1px #000;

		& + & {
			margin-left: 38px;

			@mixin screen_to, 1280px {
				margin-left: 28px;
			}
		}

		&:after {
			top: -3px;
			width: 0px;
			height: 1px;
			content: '';
			z-index: -1;
			display: block;
			position: relative;
			margin: -1px auto 0px;
			transform: translate3d(0, 0, 0);
			transition: all .2s ease-in-out;

			@mixin screen_to, 1280px {
				top: 0px;
			}
		}
		&:hover {
			&:after {
				width: 100%;
				background: currentColor;
			}
		}
		&._active {
			color: #fff;
		}
	}
	/*[object][;]*/

}


