.menu_main {
	float: left;
	font-size: 0px;
	line-height: 0px;

	@media print {
		display: none;
	}
	@mixin screen_to, 980px {
		float: none;
	}
	
	ul {
		margin: 0px;
		padding: 0px;
	}
	li {
		margin: 0px;
		padding: 0px;
		vertical-align: top;
		display: inline-block;

		@mixin screen_to, 980px {
			display: block;
		}

		&:before {
			content: normal;
		}

		& + li {
			margin-left: 40px;

			@mixin screen_to, 980px {
				margin: 19px 0px 0px;
			}
		}
	}

	/*[object][:]*/
	&_link {
		color: $color_1;
		background: none;
		text-shadow: none;
		vertical-align: top;
		display: inline-block;
		font: 18px/24px $font_fs;
		transform: translate3d(0, 0, 0);
		text-shadow: 1px 1px #19191e, 1px -1px #19191e,
					-1px 1px #19191e, -1px -1px #19191e;

		&:after {
			top: -3px;
			width: 0px;
			height: 1px;
			content: '';
			z-index: -1;
			display: block;
			position: relative;
			margin: -1px auto 0px;
			transform: translate3d(0, 0, 0);
			transition: all .2s ease-in-out;
		}
		&:hover {
			&:after {
				width: 100%;
				background: currentColor;
			}
		}
		&._active {
			color: #fff;
		}
	}
	/*[object][;]*/

}


