.menu_share {
	font-size: 0px;
	line-height: 0px;
	text-align: center;
	vertical-align: top;
	display: inline-block;

	@mixin screen_to, 980px {
		display: block;
	}

	/*[scheme][:]*/
	&_base {
		padding: 11px 20px;
		vertical-align: top;
		display: inline-block;
		border: 2px solid #e0e0e0;
	}
	/*[scheme][;]*/

	/*[object][:]*/
	&_name {
		color: #757575;
		margin-bottom: 6px;
		font: 16px/18px $font_fs;
	}
	&_link {
		width: 24px;
		height: 24px;
		fill: $color_1;
		background: none;
		text-shadow: none;
		vertical-align: top;
		display: inline-block;
		transition: all .2s ease-in-out;

		svg {
			width: 100%;
			height: 100%;
		}
		& + & {
			margin-left: 15px;
		}
		&:hover {
			fill: $color_2;
		}
	}
	/*[object][;]*/

	&._in_popup {
		margin-top: 32px;

		^&_base {
			border: 1px solid #757575;
		}
	}

}


