.menu_mobile {
	left: 0px;
	width: 100%;
	z-index: 10;

	@mixin screen_to, 980px {
		top: -100vh;
		height: 100vh;
		overflow: auto;
		position: absolute;
		text-align: center;
		background: #19191e;
		padding: 114px 20px 20px;
		transition: top .4s ease-in-out .2s;
	}

	/*[scheme][:]*/
	&_box {
		position: relative;

		@mixin screen_to, 980px {
			opacity: 0;
			padding-bottom: 49px;
			transition: all .2s ease-in-out;
		}
	}
	/*[scheme][;]*/

	/*[object][:]*/
	&_button {
		top: 0px;
		right: 0px;
		z-index: 30;
		width: 80px;
		height: 80px;
		display: none;
		position: absolute;

		@mixin screen_to, 980px {
			display: block;
		}

		span,
		&:after,
		&:before {
			top: 50%;
			left: 50%;
			width: 24px;
			height: 2px;
			content: '';
			display: block;
			position: absolute;
			background: $color_1;
			transition: all .2s ease-in-out;
			transform: translate(-50%, -50%);
		}
		&:after {
			margin-top: 7px;
		}
		&:before {
			margin-top: -7px;
		}

		&._active {
			span {
				opacity: 0;
				transform: translate(-50%, -50%) scale(0);
			}
			&:after {
				transform: translate(-50%, -50%) rotate(45deg);
			}
			&:after,
			&:before {
				margin: 0px;
			}
			&:before {
				margin: 0px;
				transform: translate(-50%, -50%) rotate(-45deg);
			}
		}
	}
	/*[object][;]*/

	&._show {
		top: 0px;
		transition-delay: 0s;

		^&_box {
			opacity: 1;
			transition-delay: .4s;
		}
	}
}