.menu_nets {
	font-size: 0px;
	line-height: 0px;
	vertical-align: top;
	display: inline-block;

	@media print {
		display: none;
	}
	
	/*[object][:]*/
	&_link {
		width: 24px;
		height: 24px;
		fill: $color_1;
		background: none;
		text-shadow: none;
		vertical-align: top;
		display: inline-block;
		transition: all .2s ease-in-out;

		svg {
			width: 100%;
			height: 100%;
		}
		& + & {
			margin-left: 18px;
		}
		&:hover {
			fill: $color_2;
		}
	}
	/*[object][;]*/
	
	&._in_head {
		float: right;
		margin-left: 30px;

		@mixin screen_to, 980px {
			left: 0px;
			width: 100%;
			float: none;
			bottom: 0px;
			margin: 0px;
			display: block;
			position: absolute;
		}
	}
	&._in_show {
		float: left;

		@mixin screen_to, 980px {
			display: none;
		}
	}
	&._in_foot {
		margin-left: 38px;

		@mixin screen_to, 1280px {
			display: block;
			margin: 0px auto 30px;
		}
	}
}


