.menu_rating {
	font-size: 0px;
	line-height: 0px;
	margin-right: 20px;
	text-align: center;
	vertical-align: top;
	display: inline-block;

	@mixin screen_to, 980px {
		margin: 0px 0px 17px;
	}

	/*[scheme][:]*/
	&_base {
		padding: 11px 15px;
		border: 2px solid #e0e0e0;
	}
	/*[scheme][;]*/

	/*[object][:]*/
	&_name {
		color: #757575;
		margin-bottom: 6px;
		font: 16px/18px $font_fs;
	}
	&_link {
		width: 35px;
		height: 24px;
		cursor: pointer;
		background: none;
		text-shadow: none;
		position: relative;
		vertical-align: top;
		display: inline-block;
		transition: all .2s ease-in-out;
		background: url(/assets/img/design/ico/star_1.svg) 50% 50% no-repeat;
		background-size: 25px 24px;

		&:after {
			top: 0px;
			left: 0px;
			opacity: 0;
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			transition: all .2s ease-in-out;
			background: url(/assets/img/design/ico/star_2.svg) 50% 50% no-repeat;
			background-size: 25px 24px;
		}

		&._hover,
		&._active {
			&:after {
				opacity: 1;
			}
		}
		&._active {
			&._hover {
				&:after {
					opacity: 1;
				}
			}
		}
	}
	/*[object][;]*/

}