.show_main {
	height: 100vh;
	font-size: 0px;
	line-height: 0px;
	min-height: 700px;
	max-height: 100vh;
	text-align: center;
	position: relative;
	background: #19191e;
	box-shadow: inset 0px 100px 0px rgba(#000,.6);

	@mixin screen_to, 980px {
		height: 100vh;
		min-height: 460px;
	}

	/*[scheme][:]*/
	&_view {
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		position: absolute;
	}
	&_tools {
		left: 0px;
		z-index: 30;
		width: 100%;
		bottom: 30px;
		padding: 0px $125;
		position: absolute;

		@mixin screen_to, 1280px {
			padding: 0px 20px;
		}

		&:after {
			clear: both;
			content: '';
			display: block;
		}
	}
	/*[scheme][;]*/

	/*[object][:]*/
	&_box {
		z-index: 30;
		width: 100%;
		height: 100%;
		margin: 0px auto;
		max-width: 1920px;
		position: relative;
	}
	&_item {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
		background: #19191e no-repeat;
		background-size: cover;

		&:after {
			bottom: 0px;
			background: linear-gradient(180deg, transparent 50%, rgba(#19191e,.6));
		}
		&:after,
		&:before {
			left: 0px;
			z-index: 10;
			content: '';
			width: 100%;
			height: 50%;
			display: block;
			position: absolute;
		}
		&:before {
			top: 0px;
			background: linear-gradient(180deg, rgba(#19191e,.6), transparent 50%);
		}
	}
	&_base {
		top: 0px;
		left: 0px;
		z-index: 15;
		width: 100%;
		height: 100%;
		position: absolute;
		background: url(/assets/img/design/pattern/1.png);
		background-size: 2px 2px;
	}
	&_size {
		width: 100%;
		visibility: hidden;

		@mixin screen_to, 980px {
			display: none;
		}
	}
	&_down {
		top: -2px;
		width: 28px;
		height: 28px;
		display: block;
		color: $color_1;
		margin: 0px auto;
		background: none;
		text-shadow: none;
		position: relative;

		@mixin screen_to, 980px {
			display: none;
		}

		&:after {
			top: -2px;
			content: '';
			width: 20px;
			height: 20px;
			display: block;
			margin: 0px auto;
			position: relative;
			transform: rotate(45deg);
			transition: all .2s ease-in-out;
			border-right: solid 2px currentColor;
			border-bottom: solid 2px currentColor;
			animation: arrow_down_1 .8s ease-in-out infinite alternate-reverse;
		}

		&:hover {
			color: $color_2;
		}
	}
	&_dots {
		right: 0px;
		width: 100%;
		bottom: 70px;
		z-index: 100;
		max-width: 400px;
		position: absolute;
		text-align: center;

		@mixin screen_to, 980px {
			right: 0px;
			bottom: 0px;
			max-width: none;
		}

		.swiper_pin {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			border: 2px solid $color_1;
			transition: all .2s ease-in-out;

			&:after {
				top: 50%;
				left: 50%;
				content: '';
				width: 250%;
				height: 250%;
				display: block;
				border-radius: 50%;
				position: absolute;
				transform: translate(-50%, -50%);
			}
			& + .swiper_pin {
				margin-left: 18px;
			}
			&_active {
				background: $color_1;
			}
		}
	}
	&_data {
		z-index: 30;
		right: $125;
		width: 400px;
		height: 400px;
		bottom: 130px;
		margin: 0px auto;
		position: absolute;
		padding: 90px 60px 0px;
		background: rgba(#000, .4);

		@mixin screen_to, 1280px {
			right: 20px;
		}
		@mixin screen_to, 980px {
			right: 50%;
			bottom: 70px;
			margin-right: -200px;
		}
		@mixin screen_to, 768px {
			width: 280px;
			height: 300px;
			margin-right: -140px;
			padding: 65px 30px 0px;
		}

		&:before {
			content: '';
			width: 113px;
			height: 28px;
			display: block;
			margin: 0px auto 21px;
			background: url(/assets/img/design/ico/recipe_of_day_1.svg) 50% 50% no-repeat;
			background-size: contain;

			@mixin screen_to, 768px {
				width: 83px;
				height: 20px;
				margin-bottom: 13px;
			}
		}

		&_foot {
			left: 0px;
			width: 100%;
			bottom: 65px;
			position: absolute;

			@mixin screen_to, 768px {
				bottom: 48px;
			}
		}
	}
	&_name {
		color: #fff;
		font: 44px/52px $font_ykb;

		@mixin screen_to, 768px {
			font: 32px/38px $font_ykb;
		}
	}
	&_play {
		width: 50px;
		height: 50px;
		margin-left: 20px;
		border-radius: 50%;
		position: relative;
		border: 2px solid $color_1;
		transition: all .2s ease-in-out;

		&:after {
			top: 50%;
			left: 50%;
			width: 0px;
			height: 0px;
			content: '';
			display: block;
			position: absolute;
			border-style: solid;
			margin: -8px 0px 0px -6px;
			border-width: 8px 0 8px 13px;
			transition: all .2s ease-in-out;
			border-color: transparent transparent transparent $color_1;
		}
		&:hover {
			background: $color_1;

			&:after {
				border-left-color: #fff;
			}
		}
	}
	&_video {
		top: 50%;
		left: 50%;
		width: auto;
		height: auto;
		min-width: 100%;
		min-height: 100%;
		overflow: hidden;
		position: absolute;
		transform: translate(-50%, -50%);
		
	}
	/*[object][;]*/

}

@keyframes arrow_down_1 {
	0% {
		transform: translateY(-3px) rotate(45deg);
	}
	100% {
		transform: translateY(3px) rotate(45deg);
	}
}


