.show_tease {
	font-size: 0px;
	line-height: 0px;
	padding: 60px $20;
	text-align: center;
	background: #a3a3a4 url(/assets/img/design/pattern/1.png);
	background-size: 2px 2px;

	@media print {
		display: none;
	}
	@mixin screen_to, 1280px {
		padding: 30px 20px;
	}

	/*[scheme][:]*/
	&_view {
		margin: 0px auto;
		max-width: 1920px;
	}
	/*[scheme][;]*/

	/*[object][:]*/
	&_img {
		width: 100%;
	}
	&_item {
		background: none;
		text-shadow: none;
		position: relative;
		vertical-align: top;
		display: inline-block;

		&:after {
			top: 0px;
			left: 0px;
			z-index: 10;
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			background: linear-gradient(180deg, transparent 50%, #000);
		}

		&:hover {
			^^&_logo {
				fill: #e30038;
				background: transparent;
			}
		}
	}
	&_text {
		left: 0px;
		bottom: 0px;
		z-index: 15;
		width: 100%;
		color: #fff;
		display: block;
		position: absolute;
		padding: 0px 20px 16px;
		font: 16px/18px $font_fs;
	}
	/*[object][;]*/

}