
$debug: false;

/*[Sizes]*/

$mobile: 960px;
$tablet: 1200px;

$size_mob_min: 320px;
$size_mob_max: 640px;

$size_dsk_min: 1280px;
$size_dsk_max: 1920px;

/*[Fonts]*/

$font_fs: 'FiraSans', sans-serif;
$font_fsb: 'FiraSansBold', sans-serif;
$font_fsl: 'FiraSansLight', sans-serif;
$font_yk: 'YanoneKaffeesatz', sans-serif;
$font_ykb: 'YanoneKaffeesatzBold', sans-serif;

/*[Nets]*/

$vk: #45668e;
$ok: #f2720c;
$fb: #3b5998;
$tw: #00aced;
$gp: #dd4b39;
$ig: #517fa4;
$pt: #cb2027;
$ld: #007bb6;

/*[Colors]*/

$color_1: #ff8f00;
$color_2: #e65100;
$color_hint: #9e9e9e;
$color_error: #e61d2b;
$color_valid: #73b865;

/*[Percents]*/

$20: calc(100% / (1280 / 20));
$40: calc(100% / (1280 / 40));
$95: calc(100% / (1280 / 95));
$100: calc(100% / (1280 / 100));
$125: calc(100% / (1280 / 125));
$420: calc(100% / (1280 / 420));
$610: calc(100% / (1280 / 610));

/*[Typography]*/

/*[p][:]*/
$p_idt: 30px;
$p_top: 3px;
$p_bot: 6px;

$p_m_idt: 22px;
$p_m_top: 2px;
$p_m_bot: 4px;
/*[p][;]*/

/*[h1][:]*/
$h1_idt: 60px;
$h1_top: 10px;
$h1_bot: 14px;

$h1_m_idt: 46px;
$h1_m_top: 6px;
$h1_m_bot: 9px;
/*[h1][;]*/

/*[h2][:]*/
$h2_idt: 52px;
$h2_top: 8px;
$h2_bot: 11px;

$h2_m_idt: 38px;
$h2_m_top: 6px;
$h2_m_bot: 8px;
/*[h2][;]*/

/*[h3][:]*/
$h3_idt: 42px;
$h3_top: 6px;
$h3_bot: 9px;

$h3_m_idt: 42px;
$h3_m_top: 4px;
$h3_m_bot: 8px;

/*
$h3_m_idt: 28px;
$h3_m_top: 5px;
$h3_m_bot: 6px;
*/
/*[h3][;]*/


/*[h4][:]*/
$h4_idt: 30px;
$h4_top: 5px;
$h4_bot: 8px;

$h4_m_idt: 24px;
$h4_m_top: 3px;
$h4_m_bot: 6px;
/*[h4][;]*/

/*[h5][:]*/
$h5_idt: 30px;
$h5_top: 3px;
$h5_bot: 6px;

$h5_m_idt: 22px;
$h5_m_top: 2px;
$h5_m_bot: 4px;
/*[h5][;]*/

/*[h6][:]*/
$h6_idt: 30px;
$h6_top: 4px;
$h6_bot: 5px;

$h6_m_idt: 22px;
$h6_m_top: 2px;
$h6_m_bot: 4px;
/*[h6][;]*/

/*[quote][:]*/
$qt_idt: 60px;
$qt_top: 6px;
$qt_bot: 0px;

$qt_m_top: 4px;
/*[quote][;]*/


