.billboard {
	font-size: 0px;
	line-height: 0px;
	min-height: 400px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;

	@mixin screen_to, 768px {
		min-height: 300px;
	}

	&:after {
		left: 50%;
		content: '';
		width: 226px;
		height: 72px;
		display: block;
		position: absolute;
		transform: translateX(-50%);
		bottom: calc(100% / (400 / 75));
		background: url(/assets/img/logo_2.svg) 50% 50% no-repeat;
		background-size: contain;

		@mixin screen_to, 768px {
			width: 164px;
			height: 52px;
		}
	}

	/*[object][:]*/
	&_size {
		width: 100%;
		visibility: hidden;
	}
	/*[object][;]*/

}