.mistake {
	overflow: hidden;
	text-align: center;
	padding: 75px $20 0px;
	font: 24px/30px $font_fs;
	min-height: calc(100vh - (110px + 120px));

	@mixin screen_to, 980px {
		padding: 75px 20px 0px;
		min-height: calc(100vh - (80px + 225px));
	}
	
	&:after {
		left: 50%;
		content: '';
		width: 700px;
		height: 500px;
		display: block;
		margin-top: 17px;
		position: relative;
		transform: translateX(-50%);
		background: url(/assets/img/design/clipart/404/1.jpg) 50% 50% no-repeat;
		background-size: contain;

		@mixin screen_to, 768px {
			margin: 0px;
			width: 320px;
			height: 213px;
		}
	}
}


