.news {
	font-size: 0px;
	line-height: 0px;
	overflow: hidden;
	position: relative;
	text-align: center;
	background: #19191e;
	padding: 57px $20 60px;

	@media print {
		display: none;
	}
	@mixin screen_to, 1280px {
		padding: 57px 20px 110px;
	}

	/*[scheme][:]*/
	&_head {
		margin: 0px auto;
		max-width: 1920px;

		&_cell {
			margin-left: $20;
		}
		&_cell,
		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: calc(100% * 1/3 - ($20 - $20 * 1/3));
			
			@mixin screen_to, 1280px {
				width: 100%;
				margin: 0px;
				display: block;
			}
		}
	}
	&_info {
		display: none;
		margin: 8px 0px 0px;
		font: 18px/34px $font_fs;

		&._show {
			display: block;
		}
	}
	&_base {
		text-align: left;
		max-width: 1920px;
		margin: 55px auto 0px;

		&:before {
			z-index: -1;
			content: '';
			display: block;
			position: relative;
			margin-bottom: calc(($20 - 1px) * -1);

			@mixin screen_to, 1280px {
				margin-bottom: -29px;
			}
		}

		&._center {
			text-align: center;
		}
		&:first-child {
			margin: 0px auto;
		}
	}
	/*[scheme][;]*/

	/*[object][:]*/
	&_more {
		@mixin screen_to, 1280px {
			left: 50%;
			bottom: 30px;
			position: absolute;
			transform: translateX(-50%);
		}
	}
	&_item {
		background: none;
		text-shadow: none;
		position: relative;
		text-align: center;
		vertical-align: top;
		display: inline-block;
		margin: $20 $20 0px 0px;
		width: calc(100% * 1/3 - ($20 - $20 * 1/3));

		@mixin screen_to, 1280px {
			width: calc(50% - 10px);
			margin: 30px 20px 0px 0px;
		}
		@mixin screen_to, 768px {
			width: 100%;
			margin: 30px 0px 0px;
		}

		&_name {
			color: $color_1;
			display: inline;
			font: 24px/26px $font_yk;
			transition: all .2s ease-in-out;
			background: url(/assets/img/design/pattern/2.png) 0% 110% repeat-x;
			background-size: 1px 1px;
			text-shadow: 1px 1px #19191e, 1px -1px #19191e,
						-1px 1px #19191e, -1px -1px #19191e;
		}
		&_info {
			margin-top: 14px;
		}
		&_prop {
			color: #9e9e9e;
			position: relative;
			vertical-align: top;
			display: inline-block;
			font: 16px/28px $font_fs;

			& + & {
				margin-left: 38px;

				&:before {
					top: 3px;
					width: 1px;
					right: 100%;
					content: '';
					height: 22px;
					display: block;
					position: absolute;
					background: #9e9e9e;
					margin: 0px 20px 0px 17px;
				}
			}
			&:empty {
				display: none;
			}
			&._time {
				padding-left: 30px;
				background: url(/assets/img/design/ico/time_1.svg) 0% 50% no-repeat;
				background-size: 22px 22px;
			}
		}
		&_mode {
			width: 8px;
			height: 8px;
			position: relative;
			border-radius: 50%;
			vertical-align: top;
			display: inline-block;
			margin: 10px 10px 10px 0px;
			border: 2px solid #9e9e9e;

			&:after {
				margin-top: 10px;
				border: 4px solid #9e9e9e;
			}
			&:after,
			&:before {
				top: 50%;
				left: 50%;
				width: 8px;
				height: 8px;
				content: '';
				display: block;
				position: absolute;
				border-radius: 50%;
				transform: translate(-50%, -50%);
			}
			&:before {
				margin-top: -10px;
				border: 2px solid #9e9e9e;
			}

			&._2 {
				border-width: 4px;
			}
			&._3 {
				border-width: 4px;
				
				&:before {
					border-width: 4px;
				}
			}
		}
		&_view {
			overflow: hidden;
			position: relative;
			margin-bottom: 22px;

			&:after {
				width: 0px;
				height: 0px;
				border-style: solid;
				margin: -8px 0px 0px -6px;
				border-width: 8px 0 8px 13px;
				transition: all .2s ease-in-out;
				border-color: transparent transparent transparent $color_1;
			}
			&:after,
			&:before {
				top: 50%;
				left: 50%;
				content: '';
				z-index: 15;
				display: block;
				position: absolute;
				transition: all .2s ease-in-out;

				@mixin screen_to, 980px {
					display: none;
				}
			}
			&:before {
				width: 60px;
				height: 60px;
				border-radius: 50%;
				margin: -30px 0px 0px -30px;
				background: rgba(#fff, .8);
				box-shadow: 0px 0px 20px rgba(#2e2e36, .4);
			}
		}
		&_thumb {
			width: 100%;
		}
		&_video {
			top: 50%;
			left: 50%;
			opacity: 0;
			z-index: 30;
			width: 101%;
			height: 101%;
			position: absolute;
			transition: all .4s ease-in-out;
			transform: translate(-50%, -50%);

			@mixin screen_to, 980px {
				display: none;
			}

			&:hover {
				opacity: 1;
			}
		}

		&:hover {
			^&_name {
				background-position: 0% 96%;
			}
		}
		&:nth-child(2n) {
			@mixin screen_to, 1280px {
				margin-right: 0px;
			}
		}
		&:nth-child(3n) {
			@mixin screen_from, 1281px {
				margin-right: 0px;
			}
		}
	}
	&_title {
		margin: 0px;
		color: #fff;
		font: 36px/38px $font_ykb;
	}
	&_found {
		height: 30px;
		color: #9e9e9e;
		position: relative;
		margin-right: 20px;
		padding-right: 21px;
		vertical-align: top;
		display: inline-block;

		&:after {
			top: 4px;
			right: 0px;
			width: 1px;
			content: '';
			height: 22px;
			display: block;
			position: absolute;
			background: #9e9e9e;
		}

		&_num {
			color: #fff;
			margin-left: 5px;
		}
	}
	&_filter {
		height: 30px;
		color: #9e9e9e;
		text-align: left;
		padding-left: 39px;
		position: relative;
		vertical-align: top;
		display: inline-block;
		font: 18px/34px $font_fs;

		&:after {
			top: 12px;
			left: 10px;
			width: 10px;
			height: 10px;
			transform: rotate(45deg);
			border-top: 2px solid $color_1;
			border-left: 2px solid $color_1;
		}
		&:after,
		&:before {
			content: '';
			display: block;
			position: absolute;
		}
		&:before {
			top: 0px;
			left: 0px;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			position: absolute;
			border: 2px solid $color_1;
		}
	}
	&_loader {
		height: 68px;
		color: $color_1;
		background: none;
		text-shadow: none;
		fill: currentColor;
		vertical-align: top;
		display: inline-block;
		margin: 80px auto -4px;
		transition: all .2s ease-in-out;

		@mixin screen_to, 980px {
			margin-top: 50px;
		}

		&_ico {
			width: 58px;
			height: 43px;
			margin-bottom: 5px;
			
			.el_1 {
				animation: blink .8s ease-in-out infinite alternate-reverse;
			}
			.el_2 {
				animation: blink .8s ease-in-out .2s infinite alternate-reverse;
			}
			.el_3 {
				animation: blink .8s ease-in-out .4s infinite alternate-reverse;
			}
		}
		&_text {
			display: block;
			font: 20px/20px $font_yk;
		}
		&:hover {
			color: $color_2;
		}
		&._hide {
			margin: 0px auto -68px;
			transform: translateY(100%);
		}
	}
	&_subtitle {
		display: block;
		color: #9e9e9e;
		margin: 8px 0px 0px;
		font: 18px/20px $font_fs;

		&._hide {
			display: none;
		}
	}
	/*[object][;]*/

	&._recipes {
		padding-bottom: 40px;
	}
	&._lessons {
		padding: 39px $20 40px;

		@mixin screen_to, 980px {
			padding: 40px 20px;
		}
	}
}


