.preloader {
	top: 0px;
	left: 0px;
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 850;
	font-size: 0px;
	position: fixed;
	line-height: 0px;
	text-align: center;
	visibility: hidden;
	background: #19191e;
	transition: all .2s ease-in-out;

	&_item {
		top: 50%;
		left: 50%;
		color: $color_1;
		padding-top: 68px;
		position: absolute;
		vertical-align: top;
		display: inline-block;
		font: 18px/18px 'FiraSans';
		transform: translate(-50%, -50%);

		&:after,
		&:before {
			left: 50%;
			content: '';
			display: block;
			position: absolute;
			border-radius: 50%;
			border: 2px solid transparent;
		}
		&:after {
			top: 15px;
			width: 30px;
			height: 30px;
			margin-left: -15px;
			border-left-color: $color_1;
			border-right-color: $color_1;
			animation: spin .6s linear infinite reverse;
		}
		&:before {
			top: 0px;
			width: 60px;
			height: 60px;
			margin-left: -30px;
			border-top-color: $color_1;
			border-bottom-color: $color_1;
			animation: spin 1s linear infinite;
		}
	}

	&._show {
		opacity: 1;
		visibility: visible;
	}
}


