.search {
	font-size: 0px;
	line-height: 0px;
	min-height: 230px;
	text-align: center;
	position: relative;
	padding: 55px $20 30px;
	background: #36363b url(/assets/img/design/clipart/search/1.png) 0% 0% no-repeat;

	@mixin screen_to, 1280px {
		min-height: initial;
		background-image: none;
		padding: 55px 20px 30px;
	}

	&:after {
		top: 0px;
		right: 0px;
		z-index: 0;
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		background: url(/assets/img/design/clipart/search/2.png) 100% 0% no-repeat;

		@mixin screen_to, 980px {
			content: normal;
		}
	}

	/*[scheme][:]*/
	&_row {
		position: relative;
		vertical-align: top;
		display: inline-block;
		margin: 25px auto 0px;
		width: calc(33.3333% - 12px);

		@mixin screen_to, 980px {
			width: 100%;
		}
	}
	&_wrap {
		z-index: 10;
		margin: 0px auto;
		max-width: 1280px;
		position: relative;
	}
	/*[scheme][;]*/

	/*[object][:]*/
	&_more {
		top: 10px;
		left: 100%;
		width: 105px;
		height: 30px;
		display: block;
		color: #9e9e9e;
		text-align: left;
		margin-left: 20px;
		padding-left: 39px;
		position: absolute;
		font: 18px/34px $font_fs;

		@mixin screen_to, 980px {
			top: auto;
			left: auto;
			position: relative;
			margin: 30px auto 0px;
		}

		.ico {
			top: 0px;
			left: 0px;
			width: 30px;
			height: 30px;
			color: $color_1;
			border-radius: 50%;
			position: absolute;
			border: 2px solid currentColor;
			transition: all .2s ease-in-out;

			&:after {
				width: 10px;
				height: 2px;
			}
			&:after,
			&:before {
				top: 50%;
				left: 50%;
				content: '';
				display: block;
				position: absolute;
				background: currentColor;
				transform: translate(-50%, -50%);
				transition: height .2s ease-in-out;
			}
			&:before {
				width: 2px;
				height: 10px;
			}
		}
		&:hover {
			.ico {
				color: $color_2;
			}
		}
		&._active {
			.ico {
				&:before {
					height: 0px;
				}
			}
		}
	}
	&_title {
		margin: 0px;
		color: #fff;
		font: 36px/38px $font_ykb;
	}
	&_subtitle {
		display: block;
		color: #9e9e9e;
		margin: 8px 0px 0px;
		font: 18px/20px $font_fs;
	}
	/*[object][;]*/

}


