.subscribe {
	width: 100%;
	height: 300px;
	display: table;
	font-size: 0px;
	line-height: 0px;
	padding-top: 0px;
	text-align: center;
	background-size: cover;
	background-position: 50% 0%;
	background-repeat: no-repeat;

	@media print {
		display: none;
	}

	/*[scheme][:]*/
	&_wrap {
		padding: 0px 20px;
		display: table-cell;
		vertical-align: middle;
		background: url(/assets/img/design/pattern/1.png);
		background-size: 2px 2px;
	}
	/*[scheme][;]*/

	/*[object][:]*/
	&_up {
		right: $40;
		width: 28px;
		height: 28px;
		bottom: 20px;
		display: block;
		color: $color_1;
		background: none;
		text-shadow: none;
		position: absolute;

		@mixin screen_to, 768px {
			right: 50%;
			width: 22px;
			bottom: 15px;
			height: 22px;
			margin-right: -11px;
		}

		&:after {
			top: 10px;
			content: '';
			width: 20px;
			height: 20px;
			display: block;
			margin: 0px auto;
			position: relative;
			transform: rotate(45deg);
			transition: all .2s ease-in-out;
			border-top: solid 2px currentColor;
			border-left: solid 2px currentColor;
			animation: arrow_up_1 .8s ease-in-out infinite alternate-reverse;

			@mixin screen_to, 768px {
				top: 8px;
				width: 16px;
				height: 16px;
			}
		}

		&:hover {
			color: $color_2;
		}
	}
	&_title {
		color: #fff;
		margin: 0px 0px 32px;
		font: 36px/38px $font_ykb;
		
		@mixin screen_to, 768px {
			margin: 0px 0px 12px;
		}
	}
	/*[object][;]*/

}

@keyframes arrow_up_1 {
	0% {
		transform: translateY(-3px) rotate(45deg);
	}
	100% {
		transform: translateY(3px) rotate(45deg);
	}
}


