.tools {
	font-size: 0px;
	line-height: 0px;
	text-align: center;
	padding: 27px 0px 60px;
	border-top: solid 2px #e0e0e0;

	@media print {
		display: none;
	}
	@mixin screen_to, 980px {
		padding: 27px 0px 30px;
	}

	/*[scheme][:]*/
	&_controls {
		margin: 0px auto;
	}
	&_comments {
		margin: 0px auto;
		max-width: 800px;
		padding: 60px 0px 0px;

		img {
			margin: 0px auto;
		}
	}
	/*[scheme][;]*/

	/*[object][:]*/
	&_more {
		margin-top: 24px;

		@mixin screen_to, 980px {
			margin-top: 20px;
		}
	}
	&_print {
		margin: 24px 20px 0px;

		@mixin screen_to, 980px {
			display: none;
		}
	}
	/*[object][;]*/

}


