.popup_video {
	right: 0px;
	opacity: 0;
	bottom: 0px;
	width: 100%;
	z-index: 550;
	padding: 45px;
	height: 100vh;
	overflow: auto;
	position: fixed;
	visibility: hidden;
	background: rgba(#19191e, .9);
	transition: opacity .4s ease-in-out,
				visibility .4s ease-in-out;

	@mixin screen_to, 768px {
		padding: 0px;
	}

	/*[scheme][:]*/
	&_box {
		display: table-cell;
		vertical-align: middle;
	}
	&_wrap {
		width: 100%;
		height: 100%;
		display: table;
	}
	/*[scheme][;]*/
	
	/*[object][:]*/
	&_item {
		width: 100%;
		z-index: 15;
		height: auto;
		display: block;
		max-width: 100%;
		max-height: 100%;
		margin: 0px auto;
		position: relative;
	}
	&_close {
		top: 15px;
		right: 15px;
		z-index: 30;
		width: 30px;
		height: 30px;
		display: block;
		color: $color_1;
		position: absolute;
		background: #19191e;
		transition: all .2s ease-in-out;

		@mixin screen_to, 768px {
			top: 9px;
			right: 9px;
		}

		&:after {
			width: 2px;
			height: 40px;

			@mixin screen_to, 768px {
				height: 24px;
			}
		}
		&:after,
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			display: block;
			position: absolute;
			background: currentColor;
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&:before {
			width: 40px;
			height: 2px;

			@mixin screen_to, 768px {
				width: 24px;
			}
		}

		&:hover {
			color: #fff;
		}
	}
	&_overlay {
		top: 0px;
		left: 0px;
		z-index: 10;
		width: 100%;
		height: 100%;
		cursor: pointer;
		position: absolute;
	}
	/*[object][;]*/

	&._hide {
		right: 150%;
		bottom: 150%;
	}
	&._show {
		opacity: 1;
		visibility: visible;
	}
}


