.remodal {
	display: none;
	outline: none;
	position: relative;
	vertical-align: middle;
	transform: translate3d(0, 0, 0);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;

	&-close {
		top: 15px;
		right: 15px;
		width: 30px;
		height: 30px;
		display: block;
		color: $color_1;
		position: absolute;
		transition: all .2s ease-in-out;

		@mixin screen_to, 768px {
			top: 9px;
			right: 9px;
		}

		&:after {
			width: 2px;
			height: 40px;

			@mixin screen_to, 768px {
				height: 24px;
			}
		}
		&:after,
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			display: block;
			position: absolute;
			background: currentColor;
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&:before {
			width: 40px;
			height: 2px;

			@mixin screen_to, 768px {
				width: 24px;
			}
		}

		&:hover {
			color: #fff;
		}
	}
	&-wrapper {
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		padding: 60px;
		display: none;
		overflow: auto;
		z-index: 10000;
		position: fixed;
		text-align: center;
		backface-visibility: hidden;
		-webkit-overflow-scrolling: touch;

		@mixin screen_to, 768px {
			padding: 39px 15px 15px;
		}

		&:after {
			content: '';
			height: 100%;
			margin-left: -0.05em;
			display: inline-block;
			vertical-align: middle;
		}
	}
	&-overlay {
		top: -5000px;
		left: -5000px;
		z-index: 9999;
		display: none;
		right: -5000px;
		bottom: -5000px;
		position: fixed;
		backface-visibility: hidden;
		background: rgba(#19191e, .9);

		&.remodal-is-opening {
			animation-name: remodal-overlay-opening-keyframes;
		}
		&.remodal-is-closing {
			animation-name: remodal-overlay-closing-keyframes;
		}
	}

	&-is-locked {
		overflow: hidden;
		touch-action: none;
	}
	&-is-opening,
	&-is-closing {
		animation-duration: .3s;
		animation-fill-mode: forwards;
	}
	&-is-opening {
		animation-name: remodal-opening-keyframes;
	}
	&-is-closing {
		animation-name: remodal-closing-keyframes;
	}
	&-is-initialized {
		display: inline-block;
	}
}

@keyframes remodal-opening-keyframes {
	from {
		opacity: 0;
		transform: scale(1.05);
	}
	to {
		opacity: 1;
		transform: none;
	}
}
@keyframes remodal-closing-keyframes {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(0.95);
	}
}
@keyframes remodal-overlay-opening-keyframes {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes remodal-overlay-closing-keyframes {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}


