
/*[button][:]*/
button,
.button {
	border: none;
	padding: 0px;
	outline: none;
	cursor: pointer;
	overflow: hidden;
	background: none;
	user-select: none;
	text-shadow: none;
	position: relative;
	text-align: center;
	line-height: normal;
	white-space: nowrap;
	vertical-align: top;
	display: inline-block;
	text-decoration: none;
	backface-visibility: hidden;
	transition: all .2s ease-out;
	transform: translate3d(0, 0, 0);

	&:after,
	&:before {
		pointer-events: none;
		backface-visibility: hidden;
		transform: translate3d(0, 0, 0);
	}

	&._1 {
		height: 50px;
		fill: $color_1;
		color: $color_1;
		padding: 0px 20px;
		font: 18px/48px $font_fsb;
		border: 2px solid $color_1;

		.ico {
			height: 26px;
			vertical-align: top;
			display: inline-block;
			margin: 10px 0px 0px 15px;
		}
		&:hover {
			fill: #fff;
			color: #fff;
			background: $color_1;
		}
	}
}
/*[button][;]*/

/*[fields][:]*/
.input,
.textarea {
	width: 100%;
	margin: 0px;
	height: 50px;
	resize: none;
	border: none;
	outline: none;
	display: block;
	font-size: 16px;
	overflow: hidden;
	background: none;
	box-shadow: none;
	padding: 0px 20px;
	border-radius: 0px;
	line-height: normal;
	font-family: $font_fs;
	border: 1px solid #757575;
	transition: all .2s ease-in-out;
	
	&::placeholder {
		opacity: 1;
		color: $color_hint;
		transition: all .2s ease-in-out;
	}

	&:focus {
		&::placeholder {
			color: transparent !important;
		}
	}
	&._error {
		border-color: $color_error !important;
	}
	&._valid {
		border-color: $color_valid !important;
	}
}
/*[fields][;]*/


