.video {
	height: 0px;
	margin: 56px 0px;
	position: relative;
	padding: 25px 0px 56.25%;
	
	video,
	iframe {
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		position: absolute;
	}
}
.hidden {
	width: 0px !important;
	height: 0px !important;
	right: 100% !important;
	bottom: 100% !important;
	min-width: 0px !important;
	min-height: 0px !important;
	position: fixed !important;
	visibility: hidden !important;
}
.clearfix {
	&:after,
	&:before {
		clear: both;
		content: '';
		display: table;
	}
}
.overflow {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	
	&:last-child {
		margin-bottom: 0px;
	}
	&:first-child {
		margin-top: 0px;
	}
}
.no_scroll {
	overflow: hidden;
}
.off_mobile_scroll {
	@mixin screen_to, 980px {
		overflow: hidden;
	}
}

._hide4desktop {
	@mixin screen_from, 1280.001px {
		display: none;
	}
}
._hide4tablet {
	@mixin screen_to, 980px {
		display: none;
	}
}
._hide4mobile {
	@mixin screen_to, 768px {
		display: none;
	}
}

._fleft {float: left;}
._fright {float: right;}

._aleft {text-align: left;}
._aright {text-align: right;}
._acenter {text-align: center;}

._vtop {vertical-align: top;}
._vmiddle {vertical-align: middle;}
._vbottom {vertical-align: bottom;}

._ttup {text-transform: uppercase;}
._ttlow {text-transform: lowercase;}

._bold {font-family: 'GothamProMedium';}
._light {font-family: 'GothamProLight';}


