*,
*:after,
*:before {
	outline: none;
	box-sizing: border-box;
	-webkit-print-color-adjust:exact;
}

*::selection {
	color: #fff;
	background: $color_1;
}

html,
body {
	margin: 0px;
	height: 100%;
	padding: 0px;
}
body {
	color: #000;
	background: #fff;
	word-wrap: break-word;
	word-break: break-word;
	font: 18px/22px $font_fs;
	overflow-wrap: break-word;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;

	@media print {
		width: 1050px;
	}
}

/*[tags][:]*/
p,
img,
ol, ul,
figure,
blockquote,
h1, .h1, h2, .h2,
h3, .h3, h4, .h4,
h5, .h5, h6, .h6 {
	&:last-child {
		margin-bottom: 0px;
	}
	&:first-child {
		margin-top: 0px;
	}
}
h1, .h1, h2, .h2,
h3, .h3, h4, .h4,
h5, .h5, h6, .h6 {
	margin: 0px;
	font-style: normal;
	font-weight: normal;
}

/*[form][:]*/
form {
	position: relative;
}
/*[form][;]*/

/*[link][:]*/
a {
	border: none;
	outline: none;
	display: inline;
	color: $color_1;
	position: relative;
	text-decoration: none;
	transition: all .2s ease-in-out;
	background: url(/assets/img/design/pattern/2.png) 0% 110% repeat-x;
	background-size: 1px 1px;
	text-shadow: 1px 1px #fff, 1px -1px #fff,
				-1px 1px #fff, -1px -1px #fff;
	
	&:hover {
		background-position: 0% 96%;
	}
	&[href^="tel:"] {
		color: inherit;
		border: inherit;
	}
}
/*[link][;]*/

/*[text][:]*/
p {
	widows: 4;
	orphans: 3;
	margin: 0px;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;

	&:empty {
		display: none;
	}

	@if $debug == true {
		background-color: #dbe79e;
	}
}
b,
strong {
	font-weight: normal;
	font-family: $font_fsb;
}
/*[text][;]*/

/*[lists][:]*/
ol,
ul {
	margin: 0px;
	display: block;
	list-style: none;
	counter-reset: index;
	padding: 0px 0px 0px 40px;

	@mixin screen_to, 768px {
		padding-left: 20px;
	}
	
	li {
		margin-top: 1px;
		position: relative;
		padding-left: 14px;

		@mixin screen_to, 768px {
			margin-top: 0px;
		}
		
		&:before {
			top: 0px;
			left: 0px;
			display: block;
			position: absolute;
		}
		&:first-child {
			margin-top: 0px;
		}

		@if $debug == true {
			background-color: #48bec4;
		}
	}
}
ol {
	li {
		&:before {
			content: counter(index);
			counter-increment: index;
		}
	}
}
ul {
	li {
		&:before {
			content: '\2022';
		}
	}
}
/*[lists][;]*/

/*[table][:]*/
th {
	font-family: $font_fsb;
}
th,
td {
	padding: 6px 10px 3px;
	vertical-align: middle;
	border: 0px solid #e0e0e0;
}
table {
	margin: 0px;
	border: none;
	text-align: center;
	border-collapse: collapse;

	&._default {
		width: 100%;
		text-align: left;

		th {
			background: #efefef;
		}
		th, td {
			border-width: 1px;
		}
	}
}
._tb_bg {
	background: #efefef;
}
._tb_bd {
	border-width: 1px;
}
._tb_bdt {
	border-top-width: 1px;
}
._tb_bdl {
	border-left-width: 1px;
}
._tb_bdr {
	border-right-width: 1px;
}
._tb_bdb {
	border-bottom-width: 1px;
}
._tb_fix {
	table-layout: fixed;
}
/*[table][;]*/

/*[quote][:]*/
.quote {
	text-align: center;
	padding: 0px 0px 50px;
	margin: calc($qt_idt - $qt_top) 0px calc($qt_idt - $qt_bot);
	background: url(/assets/img/design/ico/pepper_1.svg) 50% 100% no-repeat;
	background-size: 80px 24px;

	@mixin screen_to, 768px {
		margin: calc($qt_idt - $qt_m_top) 0px calc($qt_idt - $qt_bot);
	}

	&_top {
		font: 30px/36px $font_fs;

		@mixin screen_to, 768px {
			font: 28px/32px $font_fs;
		}
	}
	&_bot {
		color: $color_1;
		margin-top: 38px;
		font: 36px/44px $font_ykb;
	}
	
	@if $debug == true {
		background-color: #ccc;
	}
}
/*[quote][;]*/

/*[indents][:]*/

/*[title][:]*/
h1, .h1 {
	font: 42px/54px $font_ykb;
	margin: -$h1_top 0px calc($h1_idt - $h1_bot);

	@if $debug == true {
		background-color: #8cade5;
	}
}
h2, .h2 {
	font: 36px/44px $font_ykb;
	margin: -$h2_top 0px calc($h2_idt - $h2_bot);

	@if $debug == true {
		background-color: #76fb3e;
	}
}
h3, .h3 {
	font: 30px/36px $font_fs;
	margin: -$h3_top 0px calc($h3_idt - $h3_bot);

	@mixin screen_to, 768px {
		font: 28px/32px $font_fs;
		margin: -$h3_m_top 0px calc($h3_m_idt - $h3_m_bot);
	}
	
	@if $debug == true {
		background-color: #a96488;
	}
}
h4, .h4 {
	font: 24px/30px $font_fs;
	margin: -$h4_top 0px calc($h4_idt - $h4_bot);

	@if $debug == true {
		background-color: #bbd639;
	}
}
h5, .h5 {
	font: 18px/22px $font_fsb;
	margin: -$h5_top 0px calc($h5_idt - $h5_bot);

	@if $debug == true {
		background-color: #cb1130;
	}
}
h6, .h6 {
	font: 16px/20px $font_fs;
	margin: -$h6_top 0px calc($h6_idt - $h6_bot);

	@if $debug == true {
		background-color: #f1b54e;
	}
}
/*[title][;]*/

/*[media][:]*/
img {
	height: auto;
	max-width: 100%;
}
video,
iframe {
	display: block;
	margin: 0px auto;
}
figure {
	margin: 0px;
	padding: 0px;
	display: block;

	img {
		width: 100%;
	}
}
/*[media][;]*/

/*[content][:]*/
p, ol, ul {
	margin-top: -$p_top;

	& + p,
	& + ol,
	& + ul,
	& + .table,
	& + figure {
		margin-top: calc($p_idt - ($p_bot + $p_top));
	}
	& + h1, & + .h1 {
		margin-top: calc($h1_idt - ($p_bot + $h1_top));
	}
	& + h2, & + .h2 {
		margin-top: calc($h2_idt - ($p_bot + $h2_top));
	}
	& + h3, & + .h3 {
		margin-top: calc($h3_idt - ($p_bot + $h3_top));

		@mixin screen_to, 768px {
			margin-top: calc($h3_m_idt - ($p_bot + $h3_m_top));
		}
	}
	& + h4, & + .h4 {
		margin-top: calc($h4_idt - ($p_bot + $h4_top));
	}
	& + h5, & + .h5 {
		margin-top: calc($h5_idt - ($p_bot + $h5_top));
	}
	& + h6, & + .h6 {
		margin-top: calc($h6_idt - ($p_bot + $h6_top));
	}
}
.table, figure {
	& + p,
	& + ol,
	& + ul,
	& + .table,
	& + figure {
		margin-top: calc($p_idt - $p_top);
	}
	& + .quote {
		margin-top: calc($p_idt - $qt_top);
	}
	& + h1, & + .h1 {
		margin-top: calc($h1_idt - $h1_top);
	}
	& + h2, & + .h2 {
		margin-top: calc($h2_idt - $h2_top);
	}
	& + h3, & + .h3 {
		margin-top: calc($h3_idt - $h3_top);
	}
	& + h4, & + .h4 {
		margin-top: calc($h4_idt - $h4_top);
	}
	& + h5, & + .h5 {
		margin-top: calc($h5_idt - $h5_top);
	}
	& + h6, & + .h6 {
		margin-top: calc($h6_idt - $h6_top);
	}
	& + .table, & + figure {
		margin-top: $p_idt;
	}
}
/*[content][;]*/

/*[indents][;]*/

/*[tags][;]*/


